body {
	background: #f6f9db
}
h1 {
	color:#909666;
	font-family: 'Monoton', cursive;
	font-size: 56px;
	font-weight: normal;
	text-align: center;
}
p {
	color:black;
	font-family: 'Prata', serif;
	font-weight: normal;
	font-size: 18px;
	text-align: center;
	text-transform: uppercase;
	margin-left: 10em;
	margin-right: 10em;
}
#slogan {
	color:#414239;
	font-family: 'Arbutus', cursive;
	font-weight: normal;
	font-size: 24px;
	text-align: center;
	text-transform: uppercase;
	font-style: italic;
	line-height: 1.5em;
}
ul{
	color:black;
	font-family: 'Prata', serif;
	font-weight: normal;
	font-size: 18px;
	text-align: center;
	text-transform: uppercase;
    list-style-position: inside;
}