body {
	background-image: url("landing page.jpg");
	background-color: #000;
	background-repeat: auto;
	background-size: cover;
}
h1 {
	background-color: #fff;
	background-size: contain;
	text-align: center;
	margin-top: 16em;
	margin-bottom: 16em;
	padding-top: 3em;
	padding-bottom: 3em;
	padding left: 10em;
	padding right: 10em;
	border: 1px black solid;
}
a {
	text-decoration: none;
	color: #000;
}
a:hover {
	color: #bbb;
}